[network]
mode=auto ; auto/wifi/ethernet
#open_net_ssid= ; set SSID to join an open network
dhcp=true
; used only if dhcp=false
#ip=192.168.0.250
#netmask=255.255.255.0
#gateway=192.168.0.1
#dns=192.168.0.1

[http]
port=80

[system]
hostname=zerom2m
