[network]
mode=auto ; auto/wifi/ethernet
#open_net_ssid= ; set SSID to join an open network
dhcp=true
; used only if dhcp=false
#ip=192.168.0.250
#netmask=255.255.255.0
#gateway=192.168.0.1
#dns=192.168.0.1

[http]
port=80
max_content_size=2048
timeout_seconds=10
max_clients=10

[cse]
resource_name=m2m         ; rn
resource_id=m2m           ; ri
cse_id=/m2m               ; csi
sp_id=zerom2m.example.com ; used for SPID-based addressing

[system]
hostname=zerom2m
